<div class="user_edit" id="center">
  
  <div class="container" id="dasboard_index">
    <%= render 'layouts/noti' %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">
          <div class="user_edit_jumbotron">

            <h3>Account Settings</h3>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :name %><br />
              <%= f.text_field :name %>
            </div>

            <div class="field">
              <%= f.label :company_name %><br />
              <%= f.text_field :company_name %>
            </div>

            <div class="field">
              <%= f.label :title %><br />
              <%= f.text_field :title %>
            </div>

            <div class="field">
              <%= f.label :current_password %><br />
              <%= f.password_field :current_password, autocomplete: "off" %>
            </div>

            <div class="actions">
              <%= f.submit "Update" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-lg-3"></div>

    </div>

    <div class="">
      <h2 class="page_more"></h2>
    </div>
</div>
