<div class="form-horizontal form_devise_login">
  <%= render 'layouts/login_header' %>
  <% @title = "Sign Up Free" %>
  <div class="container">
    <div class="row">
      <br>
      <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
      <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
        <div class="form-group" id="login_form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <%= render 'layouts/noti' %>

          <h3 id="center"><b>Join-Us Today</b></h3><br>

          <%= f.email_field :email, class: "form-control", 
                placeholder: "Email Address", type: "email" %>
              </br>
          <%= f.text_field :name, class: "form-control", 
                placeholder: "Full Name", type: "text" %>
              </br>
          <%= f.password_field :password, :autocomplete => "off", type: "password",
                                               class: "form-control", placeholder: "Password" %>
              </br>
          <%= f.password_field :password, :autocomplete => "off", type: "password",
                                               class: "form-control", placeholder: "Password" %>
          <label class="checkbox">
              <span class="pull-left">
                  <h5>By signing up you have agree our 
                      <a href="#" data-toggle="modal" data-target="#myTAC">Term &amp; Condition</a>
                  </h5>
              </span>
          </label>
          
          <br>
          <button class="btn btn-greenish btn-block" 
                  type="f.submit"><i class="glyphicon glyphicon-record"></i><b> SIGN UP </B></button>
          <hr>
          <div id="center">
              Already have an account?<br/>
              <a class="" href="<%= login_path %>">
                  Login
              </a>
          </div>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
    </div>
  </div>
  <div class="page_more">
  <%= render 'layouts/footer' %>
  </div>
</div>
<%= render 'pages/term_and_condition' %>