<!-- Modal -->
<div class="modal fade modal_dashboard" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" id="center">
    <%= form_for @visit do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">URL Settings</h4>
        </div>
        <div class="modal-body">
          <div class="form-inline">
            <div class="form-group">
                  <b>ID</b>
                  <br>
                  <%= f.text_field :random_id, class: "form-control" %>
                  <hr>
                  <%= f.label :title %>
                  <br>
                  <%= f.text_field :title, class: "form-control" %>
                  <hr>
                  <b>Original URL</b>
                  <br>
                  <%= f.text_field :original, class: "form-control" %>
                  <h3></h3>
                  <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> If you change LINK ID, you will lose your data.
                  </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <button type="f.button" class="btn btn-block btn-greenish">Shorten</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <button type="button" class="btn btn-block btn-redish" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>