<div class="dashboard">
	<% if user_signed_in? %>
		<%= render 'layouts/user_dashboard_header' %>
	<% else %>
		<%= render 'layouts/visiter_dashboard_header' %>
	<% end %>
	<div class="container" id="dasboard_index">
		<%= render 'layouts/noti' %>
		<div class="">
			<div class="page-header" id="center">
				<% if @visit.title === nil %>
			  		<h1><<span>/<b>O</b></span>><br>
			  	<% elsif @visit.title === "" %>
			  		<h1><<span>/<b>O</b></span>><br>
			  	<% else %>
			  		<h1><b><%= @visit.title %></b><br>
			  	<% end %>
			  	<small>
			  		<a href="<%= urlshow_path(@visit.random_id) %>" id="lii">oyz.kr/<%= @visit.random_id %></a>
			  	</small> <span class="badge"><%= @well.count %></span>
			  	<a href="#" class="badge"  data-toggle="modal" data-target="#edit">
			  		<span class="glyphicon glyphicon-edit"></span>
			  	</a>
			  	<br>
			  	<h6><%= @visit.original %></h6>
			  </h1>
			</div>

			<% if @well.count > 0 %>

			<% @well.each do |w| %>
				<%= w.browser.count %>
			<% end %>

			<% else %>
				<h4>Oops</h4>
			<% end %>
		</div>
		<div class="page_more">
		</div>
		<div class="page_more">
		</div>
		<div class="page_more">
		</div>
	</div>
</div>
<%= render 'urls/edit_form' %>