<div class="dashboard">
	<% if user_signed_in? %>
		<%= render 'layouts/user_dashboard_header' %>
	<% else %>
		<%= render 'layouts/visiter_dashboard_header' %>
	<% end %>
	<div class="container" id="dasboard_index">
		<%= render 'layouts/noti' %>
		<div class="">
			<div class="page-header" id="center">
				<% if @visit.title === nil %>
			  		<h1><<span>/<b>O</b></span>><br>
			  	<% elsif @visit.title === "" %>
			  		<h1><<span>/<b>O</b></span>><br>
			  	<% else %>
			  		<h1><b><%= @visit.title %></b><br>
			  	<% end %>
			  	<small>
			  		<a href="<%= urlshow_path(@visit.random_id) %>" id="lii">oyz.kr/<%= @visit.random_id %></a>
			  	</small> <span class="badge"><%= @well.count %></span>
			  	<a href="#" class="badge"  data-toggle="modal" data-target="#edit">
			  		<span class="glyphicon glyphicon-edit"></span>
			  	</a>
			  	<br>
			  	<h6><%= @visit.original %></h6>
			  </h1>
			</div>

			<% if @well.count > 0 %>

			<% @wish.each do |d| %>
				<%= d.browser %>
			<% end %>

			<%= @well.last.started_at %>

			<table class="table table-bordered">
				<tr>
					<th>OS</th>
					<th>Browser</th>
					<th>Time Ago</th>
					<th>Country</th>
					<th>Devise</th>
				</tr>
			<% @well.sort_by(&:started_at).reverse.each do |d| %>
				<tr>
					<td><%= d.os %></td>
					<td><%= d.browser %></td>
					<td><%= time_ago_in_words(d.started_at) %></td>
					<% if d.country === nil %>
						<td>unknown</td>
					<% else %>
						<td><%= d.country %></td>
					<% end %>
					<td><%= d.device_type %></td>
				</tr>
			<% end %>
			</table>

			<% else %>
				<h4>Oops</h4>
			<% end %>
			<!-- <div class="row">
				<div class="col-lg-5">
					<%= column_chart @detail.group_by_hour_of_day(:started_at), colors: ["red"] %>
				</div>
				<div class="col-lg-2"></div>
				<div class="col-lg-5">
					<%= pie_chart @detail.group(:browser).limit(1).count %>
				</div>
			</div>
				<hr>
				<%= geo_chart @detail.group(:country).count %> --> 
		</div>
		<div class="page_more">
		</div>
		<div class="page_more">
		</div>
		<div class="page_more">
		</div>
	</div>
</div>
<%= render 'urls/edit_form' %>