<div class="dashboard">
	<% if user_signed_in? %>
		<%= render 'layouts/user_dashboard_header' %>
	<% else %>
		<%= render 'layouts/visiter_dashboard_header' %>
	<% end %>
	<div class="container" id="dasboard_index">
		<%= render 'layouts/noti' %>
		<div class="">
			<div class="page-header" id="center">
				<% if @visit.title === nil %>
			  		<h1><<span>/<b>O</b></span>><br>
			  	<% elsif @visit.title === "" %>
			  		<h1><<span>/<b>O</b></span>><br>
			  	<% else %>
			  		<h1><b><%= @visit.title %></b><br>
			  	<% end %>
			  	<small>
			  		<a href="<%= urlshow_path(@visit.random_id) %>" id="lii">oyz.kr/<%= @visit.random_id %></a>
			  	</small> <span class="badge"><%= @detail2.count %></span>
			  	<a href="#" class="badge"  data-toggle="modal" data-target="#edit">
			  		<span class="glyphicon glyphicon-edit"></span>
			  	</a>
			  	<br>
			  	<h6><%= @visit.original %></h6>
			  </h1>
			</div>

			<% if @detail2.count > 0 %>

			<div class="row">
				<div class="col-lg-12">
					<div class="jumbotron" id="center">
						<h3>
							Last Visit was 
							<small><%= time_ago_in_words(@detail2.last.started_at) %></small>
						</h3>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="jumbotron">
						<h4 id="center">Referring-Domain</h4>
						<%= pie_chart @detail2.group(:referring_domain).count, 
									library: {backgroundColor: "#8defca"} %>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="jumbotron">
						<h4 id="center">Browser</h4>
						<%= pie_chart @detail2.group(:browser).count, 
									library: {backgroundColor: "#8defca"} %>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="jumbotron">
						<h4 id="center">Country</h4>
						<%= pie_chart @detail2.group(:country).count, 
									library: {backgroundColor: "#8defca"} %>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="jumbotron">
						<h4 id="center">Device</h4>
						<%= pie_chart @detail2.group(:device_type).count, 
									library: {backgroundColor: "#8defca"} %>
					</div>
				</div>
			</div>

			<% else %>
				<h4>Oops</h4>
			<% end %>
				  
			<!-- <div class="row">
				<div class="col-lg-5">
					<%= column_chart @detail.group_by_hour_of_day(:started_at), colors: ["red"] %>
				</div>
				<div class="col-lg-2"></div>
				<div class="col-lg-5">
					<%= pie_chart @detail.group(:browser).limit(1).count %>
				</div>
			</div>
				<hr>
				<%= geo_chart @detail.group(:country).count %> --> 
		</div>
		<div class="page_more">
		</div>
		<div class="page_more">
		</div>
		<div class="page_more">
		</div>
	</div>
</div>
<%= render 'urls/edit_form' %>