<h3><%= @visitcount %></h3>

<table class="table table-bordered container">
	<tr>
		<th>Id</th>
		<th>Visit Token</th>
		<th>Landing Page</th>
		<th>Time</th>
	</tr>

<% @visit.each do |visit| %>
	<tr>
		<td><%= visit.id %></td>
		<td><%= visit.visitor_token %></td>
		<td><%= visit.landing_page %></td>
		<td><%= visit.started_at %></td>
	</tr>
<% end %>

</table>