<div class="admin_page">
	<div class="container">
		<ol class="breadcrumb">
		  <li><a href="<%= root_path %>">Home</a></li>
		  <li class="active">ADMIN</li>
		</ol>
		<div class="row admin_counter_row" id="center">
			<div class="col-lg-6 col-md-6 col-xs-12">
				<h2>VISIT</h2>
				<hr>
				<h4><a href="<%= admin_visit_path %>"><%= @visit.count %></a></h4>
			</div>
			<div class="col-lg-6 col-md-6 col-xs-12">
				<h2>URL</h2>
				<hr>
				<h4><a href="<%= admin_url_path %>"><%= @url.count %></a></h4>
			</div>
			<div class="col-lg-6 col-md-6 col-xs-12">
				<h2>USER</h2>
				<hr>
				<h4><a href="<%= admin_user_path %>"><%= @user.count %></a></h4>
			</div>
			<div class="col-lg-6 col-md-6 col-xs-12">
				<h2>Support</h2>
				<hr>
				<h4><a href="<%= admin_support_path %>"><%= @support.count %></a></h4>
			</div>
		</div>
	</div>
</div>