<div class="admin_page">	
	<div class="container">
		<ol class="breadcrumb">
		  <li><a href="<%= root_path %>">Home</a></li>
		  <li><a href="<%= admin_path %>">Admin</a></li>
		  <li class="active">URL</li>
		</ol>
		<table class="table table-bordered container">
			<tr>
				<th>ID</th>
				<th>Random ID</th>
				<th>Link</th>
				<th>Well</th>
			</tr>

		<% @support.order("created_at DESC").each do |v| %>
			<tr>
				<td><%= v.id %></td>
				<td><%= v.email %></td>
				<td><%= time_ago_in_words(v.created_at) %></td>
				<td><a href="#">Show</a></td>
			</tr>
		<% end %>

		</table>
	</div>
</div>