<div class="dashboard">
	<%= render 'layouts/user_dashboard_header' %>
	<div class="container" id="dasboard_index">
		<%= render 'layouts/noti' %>
		
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-1"></div>
			<div class="col-lg-6 col-md-6 col-sm-10" id="center">
				<div class="jumbotron">
				<div class="row">
					<div class="col-lg-4 col-md-3 col-sm-4 col-xs-4"></div>
					<div class="col-lg-4 col-md-6 col-sm-4 col-xs-4">
						<img src="<%= asset_path 'user1.jpg' %>" id="dashboard_profile_pic" class="img-circle img-responsive" alt="Responsive image">
					</div>
					<div class="col-lg-4 col-md-3 col-sm-4 col-xs-4"></div>
				</div>
				<hr>
				<% if current_user.name === nil %>
					<b>Oyz Doe</b>
				<% else %>
					<b><%= current_user.name %></b>
				<% end %>
				<% if current_user.role === nil %>
					<span class="label label-success">Well</span>
				<% else %>
					<span class="label label-success"><%= current_user.role %></span>
				<% end %>
				<hr>
				<% if current_user.company_name != nil %>
					Company- <b><%= current_user.company_name %></b><br>
				<% end %>
				<% if current_user.company_name != nil %>
					Title- <b><%= current_user.title %></b><br>
				<% end %>
				AccoutCreated- <b><%= time_ago_in_words(current_user.created_at) %></br>
				<a href="#">Settings <span class="glyphicon glyphicon-cog"></span></a>
				<hr>
				<div class="progress">
				  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%= @urlprogressbar %>" aria-valuemin="0" aria-valuemax="100" 
				  								style="width: <%= @urlprogressbar %>%">
				    <span class="sr-only"><%= @urlprogressbar %> Complete (success)</span>
				  </div>
				</div>
				<h6>URL <%= @urluser.count %> already been used</h6>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-1"></div>
		</div>

		<div class="row" id="center">
			<% @urluser.order("created_at DESC").each do |url| %>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="jumbotron">
						<% if url.title === nil %>
							<h3><<span>/<b>O</b></span>></h3><br>
						<% else %>
							<h3><%= url.title %></h3><br>
						<% end %>	
						<a href="<%= urlshow_path(url.random_id) %>">http://oyz.kr/<%= url.random_id %></a>
						<span class="badge">
							<%= Visit.where(landing_page: "http://localhost:3000/" + url.random_id).count %>
						</span>
						<br>
						<%= time_ago_in_words(url.created_at) %>
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<a href="<%= detailshow_path(url.random_id) %>">
									<h4 data-toggle="tooltip" data-placement="top" title="Analysis"><span class="glyphicon glyphicon-signal"></span></h4>
								</a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<h4 data-toggle="tooltip" data-placement="top" title="Delete" ><%= link_to '', url, 
	  			    						method: :delete, data: { confirm: 'Are you sure?' }, 
	  			    						class: "glyphicon glyphicon-trash" %>
	  			    			</h4>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<a href="<%= detailshow_path(url.random_id) %>">
									<h4 data-toggle="tooltip" data-placement="top" title="Share"><span class="glyphicon glyphicon-share"></span></h4>
								</a>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<% if @urluser.count < 1 %>
		<div>
			<h1 class="page_more"></h1>
		</div>
		<% else %>
		<% end %>
	</div>
</div>

<!-- Javascript -->

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>