<div class="form-horizontal form_devise_login">
  <%= render 'layouts/login_header' %>
  <div class="container">
    <div class="row">
      <br><br><br>
      <div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group" id="login_form">
          <%= render 'layouts/noti' %>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <h3 id="center"><b>LogIn</b></h3><br>

            <%= f.email_field :email, class: "form-control", 
                  placeholder: "Email Address", type: "email" %>
                </br>
            <%= f.password_field :password, :autocomplete => "off", type: "password",
                                                 class: "form-control", placeholder: "Password" %>
            <label class="checkbox">
                <span class="pull-right">
                    <a href="#" data-toggle="modal" data-target="#wel"> Forgot Password?</a>
                </span>
            </label>
            <br>
            <button class="btn btn-greenish btn-block" 
                    type="f.submit"><i class="glyphicon glyphicon-log-in"></i><b> SIGN IN</b></button>
            <hr>
            <div id="center">
                Don't have an account yet?<br/>
                <a class="" href="<%= signup_path %>">
                    Create an account
                </a>
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
    <div class="page_more">
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="wel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" id="center">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Forgot your password?</h4>
        </div>
        <div class="modal-body">
          <div class="form-inline">
            <div class="form-group">
              <%= f.email_field :email, class: "form-control", 
                          placeholder: "Email Address", type: "email" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <button type="f.button" class="btn btn-block btn-greenish">Mail Me Now!</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <button type="button" class="btn btn-block btn-redish" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
